/* Para asegurar que todo el formulario se vea bien */
#contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo de los iconos de error */
.text-danger {
    font-size: 0.9rem;
}

/* Estilo para el botón */
.btn:hover {
    background-color: #508E9C;
    color: white;
}